<h1>Bienvenido</h1>
<button class="btn btn-primary" routerLink="about" routerLinkActive="active-route">Sobre mí</button>
<button class="btn btn-primary" routerLink="juego1" routerLinkActive="active-route">Juego 1</button>
<button class="btn btn-primary" routerLink="juego2" routerLinkActive="active-route">Juego 2</button>
<button class="btn btn-primary" routerLink="juego3" routerLinkActive="active-route">Juego 3</button>
<button class="btn btn-primary" routerLink="juego4" routerLinkActive="active-route">Juego 4</button>
<button class="btn btn-danger">Cerrar Sesión</button>
<router-outlet></router-outlet>
