<div class="container bg-light rounded mt-3 p-3" xmlns="http://www.w3.org/1999/html">

  @if (auth.currentUser?.email) {
    <h1>Bienvenido: {{ auth.currentUser?.email }}</h1>
  } @else {
    <h1>Para acceder a los juegos inicie sesión</h1>
  }

  <div class="row row-cols-1 row-cols-md-4 g-4">

    <div class="col">
      <div class="card h-100">
        <img class="card-img-top"
             src="https://firebasestorage.googleapis.com/v0/b/tp1-sala-de-juegos.appspot.com/o/ahorcado.png?alt=media&token=8c057996-9dbd-417a-9db8-a2cbf302ae1a"
             alt="Ahorcado">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">Tenés 6 intentos para adivinar la palabra secreta!</p>
          <a *ngIf="auth.currentUser?.email" class="card-link" [routerLink]="['/ahorcado']">Link</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img class="card-img-top"
             src="https://firebasestorage.googleapis.com/v0/b/tp1-sala-de-juegos.appspot.com/o/preguntados.png?alt=media&token=e0d4c561-d771-4b10-885b-eb21e17d1503"
             alt="Preguntados">
        <div class="card-body">
          <h5 class="card-title">Preguntados</h5>
          <p class="card-text">Responde las preguntas para demostrar tu conocimiento!</p>
          <a *ngIf="auth.currentUser?.email" class="card-link" [routerLink]="['/preguntados']">Link</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img class="card-img-top"
             src="https://firebasestorage.googleapis.com/v0/b/tp1-sala-de-juegos.appspot.com/o/mayor-o-menor.png?alt=media&token=22588fc5-0ba5-4c7f-be00-59b7215d5bd5"
             alt="Mayor o Menor">
        <div class="card-body">
          <h5 class="card-title">Mayor o menor</h5>
          <p class="card-text">Adivina si la próxima carta es mayor o menor!</p>
          <a *ngIf="auth.currentUser?.email" class="card-link" [routerLink]="['/mayoromenor']">Link</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img class="card-img-top"
             src="https://firebasestorage.googleapis.com/v0/b/tp1-sala-de-juegos.appspot.com/o/juego-de-reflejos.png?alt=media&token=91eb421c-5aa8-45c8-af1f-3a02dd27e199"
             alt="Juego de Reflejos">
        <div class="card-body">
          <h5 class="card-title">Juego de reflejos</h5>
          <p class="card-text">Demostra tus reflejos con el cursor!</p>
          <a *ngIf="auth.currentUser?.email" class="card-link" [routerLink]="['/juegodereflejos']">Link</a>
        </div>
      </div>
    </div>

  </div>

</div>
