<div class="container rounded mt-3 p-3">
  <h1>Ahorcado</h1>

  <div class="hangman-container-full-images rounded p-3 bg-light">

    <!-- Muestra las imagenes del ahorcado segun la cantidad de errores -->
    <div class="hangman-container-full-images">
      <img [src]="imgUrls[errores]" alt="hangman-step" class="img-fluid"/>
    </div>

  </div>

  <!-- Boton de inicio de juego -->
  <div *ngIf="!juegoIniciado">
    <button (click)="comenzarJuego()" class="btn btn-primary">Iniciar Juego</button>
  </div>

  <!-- Interfaz del juego una vez iniciado -->
  <div *ngIf="juegoIniciado">
    <div *ngIf="!gameOver">
      <!-- Display the score -->
      <h3 class="mt-2 bg-light rounded p-2">Puntuación: {{ puntaje }}</h3>

      <!-- Muestra la palabra oculta con _ -->
      <h2>
        <span *ngFor="let letter of palabraOculta">{{ letter }} </span>
      </h2>

      <!-- Teclado en pantalla -->
      <div class="keyboard">
        <h3>Adivina una letra:</h3>
        <div class="d-flex flex-wrap justify-content-center">
          <!-- Crea los botones para cada letra -->
          <button
            *ngFor="let letter of abecedario"
            class="btn btn-secondary m-1"
            (click)="adivinarLetra(letter)"
            [disabled]="letrasUsadas.includes(letter)">
            {{ letter }}
          </button>
        </div>
      </div>

      <!-- Muestra los errores -->
      <p>Errores: {{ errores }} / {{ maximoDeIntentos }}</p>

      <!-- Muestra las letras usadas -->
      <div *ngIf="letrasUsadas.length > 0">
        <p>Letras usadas: {{ letrasUsadas.join(', ') }}</p>
      </div>
    </div>

    <!-- Mensaje de fin de juego -->
    <div *ngIf="gameOver">
      <h2>{{ mensaje }}</h2>
      <button (click)="reiniciarJuego()" class="btn btn-primary">Jugar de nuevo</button>
    </div>
  </div>
</div>
