<div class="container text-center bg-light rounded mt-3 p-3">
  <h1>Juego de Reflejos</h1>
  <div *ngIf="!gameOver">
    <h3>Tiempo restante: {{ timeLeft }}s</h3>
    <h4>Puntaje: {{ score }}</h4>

    <!-- Botón que se mueve aleatoriamente -->
    <button
      class="btn btn-warning position-absolute rounded-pill p-0"
      *ngIf="showButton"
      [ngStyle]="{'top.px': positionY, 'left.px': positionX}"
      [ngClass]="{'zoom-in': showButton, 'zoom-out': !showButton}"
      (click)="onButtonClick()">
      <img ngSrc="https://firebasestorage.googleapis.com/v0/b/tp1-sala-de-juegos.appspot.com/o/good-smiley-cropped.png?alt=media&token=6a7fddef-2981-403b-8238-5c326916e3e4" alt="Good Smiley" style="width: 80px; height: 80px;"
           height="374" width="374">
    </button>

    <!-- Cuadrados falsos (obstáculos) que no se deben clickear -->
    <div
      class="obstacle position-absolute bg-danger rounded-pill p-0"
      *ngFor="let obstacle of obstacles"
      [ngStyle]="{'top.px': obstacle.y, 'left.px': obstacle.x}"
      [ngClass]="{'zoom-in': obstacle.isVisible, 'zoom-out': !obstacle.isVisible}"
      (click)="onObstacleClick()">
      <img ngSrc="https://firebasestorage.googleapis.com/v0/b/tp1-sala-de-juegos.appspot.com/o/bad-smiley-cropped.png?alt=media&token=84eee346-cc0e-4c03-99e3-241dfa1e7240" alt="Bad Smiley" style="width: 80px; height: 80px;" height="374"
           width="374">
    </div>
  </div>

  <!-- Mensaje final cuando termina el juego -->
  <div *ngIf="gameOver">
    <h3>¡Juego terminado!</h3>
    <p>Tu puntaje final es: {{ score }}</p>
    <button class="btn btn-primary" (click)="startGame()">Jugar de nuevo</button>
  </div>
</div>
