<!-- About 3 - Bootstrap Brain Component -->
<div class="container bg-light bg-opacity-75 rounded mt-3">
  <section class="py-3 py-md-5">

    <div class="container overflow-hidden">
      <div class="row gy-2 gy-md-0 justify-content-xxl-center">
        <div class="col-12 order-md-1 col-md-8 col-xxl-6">
          <div class="text-center text-md-start">
            <h2 class="display-3 fw-bold lh-1">Tomás Pérez Ponisio</h2>
            <p class="text-secondary fs-4 mb-2">Magento Developer</p>
            <hr class="w-25 mx-auto ms-md-0 mb-4 text-secondary">
            <p>Soy un desarrollador full-stack Magento: front con html, css, jQuery, js vanila; back con php; entornos
              con Docker; desarrollo de módulos, automatizaciones, consumo de APIs. Tengo conocimientos de C/C#,
              JavaScript, PHP, SQL.
            </p>
            <p>Tengo más de 10 años de experiencia trabajando en agencias de diseño. Trabajé 5 años en ONGs coordinando
              diversos proyectos, liderando equipos de voluntarios y motivandolos
              hacia un objetivo común.</p>
          </div>
        </div>
        <div class="col-12 order-md-0 col-md- col-xxl-4">
          <div class="text-center text-md-start me-md-3 me-xl-5">
            <p class="mb-4">
              <img class="img-fluid rounded shadow mt-3" loading="lazy" src="https://i.imgur.com/L1kvwIl.png" alt="Sobre mí">
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
