<div class="d-flex align-items-center justify-content-center vh-100">
  <form class="bg-light rounded p-3">
    <div class="form-group mb-3">
      <label class="mb-2" for="email">Email</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="email" name="e">
    </div>

    <div class="form-group mb-3">
      <label class="mb-2" for="password">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
    </div>

    <div class="form-group mb-3">
      <label class="mb-2" for="passwordCheck">Confirme el password</label>
      <input type="password" class="form-control" id="passwordCheck" [(ngModel)]="passwordCheck" name="passwordCheck">
    </div>

    <button (click)="register()" class="btn btn-primary btn-space">Registrarse</button>

<!--    @if (loggedUser != ""){-->
<!--      <h2 class="text-center text-primary">Usuario registrado: {{loggedUser}}</h2>-->
<!--    }-->
<!--    @if(flagError){-->
<!--      <p class="text-center text-primary">{{msjError}}</p>-->
<!--    }-->

  </form>
</div>
