<div class="d-flex align-items-center justify-content-center vh-100">
  <form class="bg-light rounded p-3">
    <div class="form-group mb-3">
      <label class="mb-2" for="usuario">Usuario</label>
      <input type="text" class="form-control" id="usuario" [(ngModel)]="usuario" name="usuario">
    </div>

    <div class="form-group mb-3">
      <label class="mb-2" for="password">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
    </div>

    <button (click)="validar()" class="btn btn-primary btn-space">Login</button>

    <button (click)="autoCompletar()" class="btn btn-secondary">Autocompletar</button>

    <div *ngIf="!loginExitoso">
      <small class="form-text text-muted">Usuario y contraseña incorrectos</small>
    </div>
  </form>
</div>
